<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GlobalK_Selenium_Tests " parallel="false" verbose="2">
<parameter name="appURL" value="https://www.oldmutualfinance.co.za/"/>
<parameter name="browserType" value="chrome"/>
  <test name="chromeTest1">
    <classes>
      
      <class name="com.GlobalK_Selenium_Project.Test.HomePage_Test"/>
      <class name="com.GlobalK_Selenium_Project.Test.PersonLoans_Test"/>
     
    
      
    </classes>
    </test>
</suite>

